body {
  background-color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: darksalmon;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: burlywood;
}

form {
  padding: 30px;
  background-color: darksalmon;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 50px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 10px;
  border: 1px solid coral;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: darkred;
}

.button-submit {
  margin-left: 12px;
  background-color: bisque;
  color: darksalmon;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 24px 24px;
}

.poem {
  font-size: 16px;
  background-color: burlywood;
  padding: 20px;
  line-height: 1.5;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
  border-radius: 10px;
}

.poem strong {
  color: darkred;
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
